<div class="login-box">
  <div class="row collapse expanded">
    <div class="small-12 medium-12 column small-order-2">
      <div class="login-box-form-section">
      <h2 class="login-box-title">Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

          <%= f.label :first_name, 'First name' %>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first-name", class: "login-box-input", placeholder: "John" %>

          <%= f.label :last_name, 'Last name' %>
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last-name", class: "login-box-input", placeholder: "Doe" %>

          <%= f.label :user_name, 'Username' %>
          <%= f.text_field :user_name, autofocus: true, autocomplete: "user-name", class: "login-box-input", placeholder: "JDoe1991" %>

          <%= f.label :email, 'Email' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login-box-input", placeholder: "JD@example.com" %>

          <%= f.label :password, 'Password' %>
          <%= f.password_field :password, autocomplete: "new-password", class: "login-box-input", placeholder: "Password" %>

          <%= f.label :password_confirmation, 'Password confirmation' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "login-box-input", placeholder: "Retype Password" %>
          <%= f.submit "Sign up", class: "login-box-submit-button" %>
      <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
